@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text-primary: #194C87;
}

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    user-select: none;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: var(--text-primary);
}

body::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
}

.main {
    background-image: url("/images/fondo.jpg");
    background-repeat: no-repeat;
    background-position: -190px -200px;
}

.max-line{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}