@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    user-select: none;
}

body::-webkit-scrollbar {
    overflow-y: scroll;
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: theme("colors.secondary");
}

body::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
}

.max-line {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.animation-404 .logo:nth-child(1) {
    transform: rotate(90deg) translateY(70px);
    animation: animate-logo-1 2s linear infinite;
}

.animation-404 .logo:nth-child(2) {
    transform: rotate(-90deg) translateY(70px);
    animation: animate-logo-2 2s linear infinite;
}

@keyframes animate-logo-1 {
    from {
        transform: rotate(90deg) translateY(70px);
    }

    to {
        transform: translateY(-100px);
    }
}

@keyframes animate-logo-2 {
    from {
        transform: rotate(-90deg) translateY(70px);
    }

    to {
        transform: translateY(-100px);
    }
}


.sandwich-background-dark::before,
.sandwich-background-light::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
}

.sandwich-background-light::before {
    background: linear-gradient(50deg,
            theme("colors.tertiary") 50%,
            theme("colors.secondary") 50%,
            theme("colors.primary") 100%,
            theme("colors.secondary") 100%,
            theme("colors.primary") 100%);
}

.sandwich-background-dark::before {
    background: linear-gradient(50deg,
            theme("colors.primary") 50%,
            theme("colors.secondary") 50%,
            theme("colors.primary") 100%,
            theme("colors.secondary") 100%,
            theme("colors.primary") 100%);
}

@media (max-width: 1215px) {
    .sandwich-background-light::before {
        background: linear-gradient(55deg,
                theme("colors.tertiary") 55%,
                theme("colors.secondary") 50%,
                theme("colors.primary") 100%,
                theme("colors.secondary") 100%,
                theme("colors.primary") 100%);
    }

    .sandwich-background-dark::before {
        background: linear-gradient(55deg,
                theme("colors.primary") 55%,
                theme("colors.secondary") 50%,
                theme("colors.primary") 100%,
                theme("colors.secondary") 100%,
                theme("colors.primary") 100%);
    }
}

@media (max-width: 1024px) {

    .sandwich-background-light::before,
    .sandwich-background-dark::before {
        background: linear-gradient(-110deg,
                theme("colors.secondary") 30%,
                theme("colors.primary") 100%,
                theme("colors.secondary") 100%,
                theme("colors.primary") 100%);
    }
}